@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900;
  margin: 0;
  font-family: "IBM Plex Sans", "Segoe UI", sans-serif;
}

a {
  @apply text-brand-700 hover:text-brand-900;
}
